/* Escribe acá tus estilos*/

*{
	font-family: 'Raleway';
}

body {
	background-color: lightpink;
	margin: 0;
}

header h1 {
	font-size: 40px;
	background-color: whitesmoke;
	padding: 30px;
	margin: 0; 
}

#formulario{
	background-color: rgba(255, 255, 255, 0.5);
	width: 80%;
	margin: 0 auto;
	padding: 20px;
	margin-top: 30px;
}

.formulario p